@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', cursive;
    background-color: rgb(206, 230, 251);
}

.navbar-brand{
    font-family: 'Titan One', cursive;
}

#search{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#search-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.category-item{
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .3s;
    opacity: 0.5;
    width: 20%;
}

.category-item:hover{
    opacity: 1;
}

.responsive-text{
    font-size: 2.5vw;
}

#category-container{
    margin-bottom: 2rem;
}

#new-arrivals-container{
    overflow-x: scroll;
}

.card{
    width: 12rem;
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 6px;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlay:hover{
    opacity: 0.8;
}

.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-container{
    cursor: pointer;
}

.responsive-title{
    margin-bottom: 0;
    margin-top: 2rem;
    opacity: 0.6;
    text-align: center;
}

.voucher{
    position: relative;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .responsive-text{
        font-size: 1rem;
    }   
    
    .responsive-icon{
        font-size: 2rem;
    }

    .responsive-title{
        font-size: 2rem;
        margin-top: 4rem;
    }

    #category-container{
        margin-bottom: 5rem;
    }

    .card{
        width: 15rem;
    }

    .voucher{
        width: 80%;
    }
}