/* This CSS file is used for login, register and change information */

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("/media/background.png");
    background-size: cover;
}

.jumbotron{
    border: solid 3px black;
    border-radius: 10px;
    background-color: white;
}

#switch{
    cursor: pointer;
    transition-duration: .1s;
}

#switch:hover{
    font-weight: bold;
}

span{
    margin: 2rem;
}

@media only screen and (max-width: 576px) {
    .btn-primary{
        width: 100%;
    }

    .btn-secondary{
        width: 100%;
    }

    span{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }
}