@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', cursive;
    background-color: rgb(206, 230, 251);
}

.navbar-brand{
    font-family: 'Titan One', cursive;
}

#product-image{
    height: 80px;
    width: 80px;
}

.list-container{
    height: 400px;
    overflow-y: scroll;
}