@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', cursive;
    background-color: rgb(206, 230, 251);
}

#product-image{
    max-width: 80%;
}

#search{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#search-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-brand{
    font-family: 'Titan One', cursive;
}

.pop-up{
    background-color: black;
    border-radius: 20px;
    opacity: 0.8;
    width: 30%;
    height: 30vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.pop-up .text{
    color: white;
}

.pop-up .fas{
    font-size: 4em;
}

.fa-star{
    color: rgb(201, 201, 201);
}