*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("../../media/background.png");
    background-size: cover;
}

.jumbotron{
    border: solid 3px black;
    border-radius: 10px;
    background-color: white;
}

#help{
    cursor: pointer;
    transition-duration: .1s;
}

#help:hover{
    font-weight: bold;
}